#code
    h3.title Программа
    textarea(autofocus="autofocus")
    .panel.panel-danger.error.hidden
        .panel-heading
            h4.panel-title Ошибка в коде!
        .panel-body.error-msg
    .buttons
        button.btn.btn-warning.clear Очистить
        button.btn.btn-success.toggle Запуск
