@cellSize: 48px;
@width: 18;
@height: 16;
@codeWidth: 6;

@mainColor: #000;
@import "common.less";

html {
    font-size: 16px;
}

body {
    font-size: 1em;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.3em;
}

.logo-container {
	content: ' ';
	width: 100%;
	height: 64px;
	background: linear-gradient(@mainColor, darken(@mainColor, 10%));

    .logo {
        height: 100%;
        text-align: center;
        background: url(img/logo.png) no-repeat center center;
    }

    @media (max-height: 700px) {
        height: 48px;
    }

    @media (max-height: 500px) {
        height: 40px;
    }
}

.top-container {
	display: flex;

    #game {
        display: inline-block;
    }

    #code-container {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
        height: ~"calc(100vh - 70px)";
        min-width: 17em;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    #instruction-container {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
        padding-right: 0.5em;
        max-height: ~"calc(100vh - 70px)";
        max-width: 50em;
        overflow-y: scroll;
    }

    @media (max-width: 1900px) {
        @cellSize: 48px;

        #game canvas {
            width: calc(@width * @cellSize) !important;
            height: calc(@height * @cellSize) !important;
        }
    }

    @media (max-width: 1700px) {
        @cellSize: 40px;

        font-size: 0.9375em;

        #game canvas {
            width: calc(@width * @cellSize) !important;
            height: calc(@height * @cellSize) !important;
        }
    }

    @media (max-width: 1300px) {
        @cellSize: 32px;

        font-size: 0.875em;

        #game canvas {
            width: calc(@width * @cellSize) !important;
            height: calc(@height * @cellSize) !important;
        }
    }

    @media (max-width: 1100px) {
        @cellSize: 28px;

        font-size: 0.8125em;

        #game canvas {
            width: calc(@width * @cellSize) !important;
            height: calc(@height * @cellSize) !important;
        }
    }

    @media (max-width: 1000px) {
        @cellSize: 24px;

        font-size: 0.75em;

        #game canvas {
            width: calc(@width * @cellSize) !important;
            height: calc(@height * @cellSize) !important;
        }
    }
}