@cellSize: 48px;
@width: 18;
@height: 16;
@codeWidth: 6;
@mainColor: #844706;

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.logo-container {
	content: ' ';
	width: 100%;
	height: 64px;
	background: linear-gradient(@mainColor, darken(@mainColor, 10%));

    .logo {
        height: 100%;
        text-align: center;
        background: url(img/logo.png) no-repeat center center;
    }
}

.top-container {
	display: flex;

    #game {
        display: inline-block;
    }

    #code-container {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
        height: calc(@height * @cellSize);
        min-width: calc(@codeWidth * @cellSize);
        padding-left: 12px;
        padding-right: 12px;
    }

    #instruction-container {
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
        padding-right: 12px;
        max-height: calc(@height * @cellSize);
        overflow-y: scroll;
    }

    @media screen and (max-width: 1600px) {
        @cellSize: 40px;

        #game canvas {
            width: calc(@width * @cellSize) !important;
            height: calc(@height * @cellSize) !important;
        }

        #code-container {
            height: calc(@height * @cellSize);
            min-width: calc(@codeWidth * @cellSize);
        }
    }

    @media screen and (max-width: 1200px) {
        @cellSize: 32px;

        #game canvas {
            width: calc(@width * @cellSize) !important;
            height: calc(@height * @cellSize) !important;
        }

        #code-container {
            height: calc(@height * @cellSize);
            min-width: calc(@codeWidth * @cellSize);
        }
    }
}