doctype html
html
    head
        meta(charset="UTF-8")
        title Tancoder
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Condensed") 
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet" href="libs/highlights/styles/default.css")
        script(src="libs/highlights/highlight.pack.js")
        script(src="//cdn.jsdelivr.net/phaser/2.5.0/phaser.min.js")
    body
        .logo-container
            .logo
        .top-container
            #game
            #code-container
                include components/code/code.jade
            #instruction-container
                include components/instruction/instruction.jade
