doctype html
html
    head
        meta(charset="UTF-8")
        title Tancoder

        link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
        link(rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32")
        link(rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16")
        link(rel="manifest" href="manifest.json")
        link(rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5")
        link(rel="shortcut icon" href="favicon.ico")
        meta(name="msapplication-config" content="browserconfig.xml")
        meta(name="theme-color" content="#ffffff")

        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Condensed")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(rel="stylesheet" href="libs/highlights/styles/default.css")

        script(src="libs/highlights/highlight.pack.js")
        script(src="//cdn.jsdelivr.net/phaser/2.5.0/phaser.min.js")
    body
        .logo-container
            .logo
        .top-container
            #game
            #code-container
                include components/code/code.jade
            #instruction-container
                include components/instruction/instruction.jade
